* text=auto
.gitattributes text eol=lf

*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.npy binary
*.fits binary
*.fit binary
*.pdf binary
*.docx binary
*.xlsx binary
